<div class='question' *ngIf='question'>
    <p class='question-title'>Q{{questionNumber + 1}}: {{question.title}}</p>
    <p class='question-level-color'>{{question.level}}</p>
    <ul>
        <li *ngFor='let option of question.options'>
            <label>
                <input 
                    type="{{(question.type == 'SINGLE_SELECT') ? 'radio' : 'checkbox'}}" 
                    name={{question.id}} 
                    value={{option.id}} />
                {{option.text}}
            </label>
        </li>
    </ul>
</div>